<div class="issue-comment">
  <div class="issue-comment-author">
    <img src="{{imgUrl}}">
  </div>
  <div class="issue-comment-content">
	  <div class="issue-comment-attribution">{{userLogin}} commented {{moment-from-now relativeTime}} ago{{if isEdited ' • edited'}}</div>
    <div>
      {{md-text text=text linkify=true}}
    </div>
  </div>
</div>