<div class="main issue-view">
  <h1>{{model.issue.title}} <span class="issue-number">#{{model.issue.id}}</span></h1>
  <!-- <button class="new-issue">New Issue</button> -->
  <div class="issue-metadata">
    <span class="issue-status open">
      <span class="icon-issue-opened"></span>
      Open
    </span>
    <span>{{model.issue.user.login}} opened this issue {{moment-from-now model.issue.createdAt}} · {{model.issue.commentsCount}} comments</span>
  </div>
  <hr>
  {{issue-comment userLogin=model.issue.user.login relativeTime=model.issue.createdAt imgUrl=model.issue.user.avatar_url text=model.issue.body createdAt=model.issue.createdAt updatedAt=model.issue.updatedAt}}

  {{#each model.issue.comments as |comment|}}
    {{issue-comment userLogin=comment.user.login relativeTime=comment.createdAt imgUrl=comment.user.avatar_url text=comment.body createdAt=comment.createdAt updatedAt=comment.updatedAt}}
  {{/each}}
</div>
